.pairOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  gap: 20px;

  &.pairOptionSmall {
    gap: 10px;
    margin: 10px 0;
    justify-content: unset;
    flex-wrap: wrap;
    button {
      width: auto;
      padding: 12px 8px;
    }
  }

  & + & {
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
  }

  button {
    width: 50%;
    padding: 20px 10px;
    background: transparent;
    border: 1px solid rgb(25, 118, 210);
    color: rgb(25, 118, 210);
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.13s;
    min-width: 44px;

    &:hover {
      background: rgba(25, 118, 210, 0.1);
    }

    &:active {
      box-shadow: 1px 4px 7px 2px rgb(0 0 0 / 15%);
    }

    &.selected {
      background: rgb(25, 118, 210);
      color: #fff;

      &:hover {
        background: rgb(17, 100, 183);
        color: #fff;
      }
    }
  }
}

.showMetaDataPage {
  h2 {
    font-size: 20px;
    margin-bottom: 32px;
  }
}

.question {
  font-size: 18px;
  margin-top: 32px;
}

// //////////
// Navigation
// //////////
.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 42px;
  margin-bottom: 20px;
  gap: 12px;

  &.navigationTop {
    padding-bottom: 12px;
    border-bottom: 1px solid;
    border-bottom: 1px solid;
  }
  &.navigationBottom {
    margin-top: 20px;
    padding-top: 12px;
    border-top: 1px solid;
  }

  button {
    padding: 8px 16px;
    color: #fff;
    background: rgba(25, 118, 210, 0.8);
    border: 1px solid rgba(25, 118, 210, 0.8);
    border-radius: 4px;

    &:disabled {
      opacity: 0.4;
      pointer-events: none;
    }

    &:hover {
      background: rgb(17, 100, 183);
      color: #fff;
    }
  }
}

// //////////
// Config
// //////////
.config {
  display: flex;
  align-items: center;
  gap: 22px;
  padding: 20px;
  background: rgb(44, 44, 44);
  color: #fff;
  margin-bottom: 22px;
  border-radius: 12px;
}

.verification {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  padding: 20px;
  margin-bottom: 22px;
  border-radius: 12px;
  border: 1px solid rgb(25, 118, 210);
  h1 {
    font-size: 32px;
    margin-bottom: 0;
  }

  input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    background: transparent;
    border: 1px solid rgb(25, 118, 210);
  }

  button {
    padding: 8px 16px;
    color: #fff;
    background: rgba(25, 118, 210, 0.8);
    border: 1px solid rgba(25, 118, 210, 0.8);
    border-radius: 4px;

    &:disabled {
      opacity: 0.4;
      pointer-events: none;
    }

    &:hover {
      background: rgb(17, 100, 183);
      color: #fff;
    }
  }
}

.inputWrapper {
  display: flex;
}

.error {
  color: red;
}
