.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.container {
  padding: 30px 20px;
  margin: 0 auto;
  max-width: 720px;
  width: 100%;
}
